/*
Copyright 2022 Huawei Cloud Computing Technologies Co., Ltd.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

package executor

import (
	"bytes"
	"math"
	"sort"

	"github.com/openGemini/openGemini/engine/hybridqp"
)

func NewBooleanModeReduce(BooleanSliceItem *BooleanSliceItem) (int, int64, float64, bool) {
	length := len(BooleanSliceItem.value)
	if length == 0 {
		return 0, 0, 0, true
	}
	if length == 1{
	    return 0, 0, 0, false
	}

	truei := -1
	TrueFreq := 0
	falsei := -1
	FalseFreq := 0
	for i := 0; i < length; i++ {
		if BooleanSliceItem.value[i]{
			if truei == -1 {
				truei = i
			}
			TrueFreq++
		} else{
			if falsei == -1{
				falsei = i
			}
			FalseFreq++
		}
	}
	if TrueFreq >= FalseFreq{
		return truei, 0, 0, false
	}
	return falsei, 0, 0, false
}

func IntegerCountMerge(prevPoint, currPoint *IntegerPoint) {
	if currPoint.isNil {
		return
	}
	if prevPoint.isNil {
		prevPoint.Assign(currPoint)
		prevPoint.isNil = false
		return
	}
	prevPoint.value += currPoint.value
}

{{range .}}
{{- if or (eq .Name "Float") (eq .Name "Integer")}}
func {{.Name}}SumReduce(c Chunk, ordinal, start, end int) (int, {{.Type}}, bool) {
	var sum {{.Type}}
	if c.Column(ordinal).NilCount() == 0 {
		// fast path
		for i := start; i < end; i++ {
			sum += c.Column(ordinal).{{.Name}}Value(i)
		}
		return start, sum, false
	}

	// slow path
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return start, 0, true
	}
	for i := vs; i < ve; i++ {
		sum += c.Column(ordinal).{{.Name}}Value(i)
	}
	return start, sum, false
}

func {{.Name}}SumMerge(prevPoint, currPoint *{{.Name}}Point) {
	if currPoint.isNil {
		return
	}
	if prevPoint.isNil {
		prevPoint.Assign(currPoint)
		prevPoint.isNil = false
		return
	}
	prevPoint.value += currPoint.value
}
{{- end}}
{{end}}

{{range .}}
{{- if and (ne .Name "String") (ne .Name "Boolean")}}
func {{.Name}}MinReduce(c Chunk, ordinal, start, end int) (int, {{.Type}}, bool) {
	if c.Column(ordinal).NilCount() == 0 {
		// fast path
		minValue, minIndex := c.Column(ordinal).{{.Name}}Value(start), start
		for i := start; i < end; i++ {
			v := c.Column(ordinal).{{.Name}}Value(i)
			if v < minValue || (v == minValue && c.TimeByIndex(i) < c.TimeByIndex(minIndex)) {
				minIndex = i
				minValue = v
			}
		}
		return minIndex, minValue, false
	}

	// slow path
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return start, 0, true
	}
	minValue, minIndex := c.Column(ordinal).{{.Name}}Value(vs), c.Column(ordinal).GetTimeIndex(vs)
	for i := vs; i < ve; i++ {
		v, index := c.Column(ordinal).{{.Name}}Value(i), c.Column(ordinal).GetTimeIndex(i)
		if v < minValue || (v == minValue && c.TimeByIndex(index) < c.TimeByIndex(minIndex)) {
			minIndex = index
			minValue = v
		}
	}
	return minIndex, minValue, false
}

func {{.Name}}MinMerge(prevPoint, currPoint *{{.Name}}Point) {
	if currPoint.isNil {
		return
	}
	if prevPoint.isNil || (currPoint.value < prevPoint.value) ||
		(currPoint.value == prevPoint.value && currPoint.time < prevPoint.time) {
		prevPoint.Assign(currPoint)
		prevPoint.isNil = false
	}
}
{{- end}}
{{end}}

func BooleanMinReduce(c Chunk, ordinal, start, end int) (int, bool, bool) {
	if c.Column(ordinal).NilCount() == 0 {
		// fast path
		minValue, minIndex := c.Column(ordinal).BooleanValue(start), start
		for i := start; i < end; i++ {
			v := c.Column(ordinal).BooleanValue(i)
			if (v != minValue && !v) || (v == minValue && c.TimeByIndex(i) < c.TimeByIndex(minIndex)) {
				minIndex = i
				minValue = v
			}
		}
		return minIndex, minValue, false
	}

	// slow path
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return start, false, true
	}
	minValue, minIndex := c.Column(ordinal).BooleanValue(vs), c.Column(ordinal).GetTimeIndex(vs)
	for i := vs; i < ve; i++ {
		v, index := c.Column(ordinal).BooleanValue(i), c.Column(ordinal).GetTimeIndex(i)
		if (v != minValue && !v) || (v == minValue && c.TimeByIndex(index) < c.TimeByIndex(minIndex)) {
			minIndex = index
			minValue = v
		}
	}
	return minIndex, minValue, false
}

func BooleanMinMerge(prevPoint, currPoint *BooleanPoint) {
	if currPoint.isNil {
		return
	}
	if prevPoint.isNil || (currPoint.value != prevPoint.value && !currPoint.value) ||
	    (currPoint.value == prevPoint.value && currPoint.time < prevPoint.time){
		prevPoint.Assign(currPoint)
		prevPoint.isNil = false
	}
}

{{range .}}
{{- if and (ne .Name "String") (ne .Name "Boolean")}}
func {{.Name}}MaxReduce(c Chunk, ordinal, start, end int) (int, {{.Type}}, bool) {
	if c.Column(ordinal).NilCount() == 0 {
        // fast path
		maxValue, maxIndex := c.Column(ordinal).{{.Name}}Value(start), start
		for i := start; i < end; i++ {
			v := c.Column(ordinal).{{.Name}}Value(i)
			if v > maxValue || (v == maxValue && c.TimeByIndex(i) < c.TimeByIndex(maxIndex)) {
				maxIndex = i
				maxValue = v
			}
		}
		return maxIndex, maxValue, false
	}

	// slow path
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return start, 0, true
	}
	maxValue, maxIndex := c.Column(ordinal).{{.Name}}Value(vs), c.Column(ordinal).GetTimeIndex(vs)
	for i := vs; i < ve; i++ {
		v, index := c.Column(ordinal).{{.Name}}Value(i), c.Column(ordinal).GetTimeIndex(i)
		if v > maxValue || (v == maxValue && c.TimeByIndex(index) < c.TimeByIndex(maxIndex)) {
			maxIndex = index
			maxValue = v
		}
	}
	return maxIndex, maxValue, false
}

func {{.Name}}MaxMerge(prevPoint, currPoint *{{.Name}}Point) {
	if currPoint.isNil {
		return
	}
	if prevPoint.isNil || (currPoint.value > prevPoint.value) ||
	    (currPoint.value == prevPoint.value && currPoint.time < prevPoint.time){
		prevPoint.Assign(currPoint)
		prevPoint.isNil = false
	}
}
{{- end}}
{{end}}

func BooleanMaxReduce(c Chunk, ordinal, start, end int) (int, bool, bool) {
	if c.Column(ordinal).NilCount() == 0 {
        // fast path
		maxValue, maxIndex := c.Column(ordinal).BooleanValue(start), start
		for i := start; i < end; i++ {
			v := c.Column(ordinal).BooleanValue(i)
			if (v != maxValue && v) || (v == maxValue && c.TimeByIndex(i) < c.TimeByIndex(maxIndex)) {
				maxIndex = i
				maxValue = v
			}
		}
		return maxIndex, maxValue, false
	}

	// slow path
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return start, false, true
	}
	maxValue, maxIndex := c.Column(ordinal).BooleanValue(vs), c.Column(ordinal).GetTimeIndex(vs)
	for i := vs; i < ve; i++ {
		v, index := c.Column(ordinal).BooleanValue(i), c.Column(ordinal).GetTimeIndex(i)
		if (v != maxValue && v) || (v == maxValue && c.TimeByIndex(index) < c.TimeByIndex(maxIndex)) {
			maxIndex = index
			maxValue = v
		}
	}
	return maxIndex, maxValue, false
}

func BooleanMaxMerge(prevPoint, currPoint *BooleanPoint) {
	if currPoint.isNil {
		return
	}
	if prevPoint.isNil || (currPoint.value != prevPoint.value && currPoint.value) ||
	    (currPoint.value == prevPoint.value && currPoint.time < prevPoint.time){
		prevPoint.Assign(currPoint)
		prevPoint.isNil = false
	}
}

{{range .}}
{{- if ne .Name "Boolean"}}
func {{.Name}}FirstReduce(c Chunk, ordinal, start, end int) (int, {{.Type}}, bool) {
	if c.Column(ordinal).NilCount() == 0 {
        // fast path
		firstValue, firstIndex := c.Column(ordinal).{{.Name}}Value(start), start
		for i := start; i < end; i++ {
			v := c.Column(ordinal).{{.Name}}Value(i)
			if c.TimeByIndex(i) < c.TimeByIndex(firstIndex) ||
			    (c.TimeByIndex(i) == c.TimeByIndex(firstIndex) && v > firstValue) {
				firstIndex = i
				firstValue = v
			}
		}
		return firstIndex, firstValue, false
	}

	// slow path
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return start, {{.Nil}}, true
	}
	firstValue, firstIndex := c.Column(ordinal).{{.Name}}Value(vs), int(c.Column(ordinal).GetTimeIndex(vs))
	for i := vs; i < ve; i++ {
		v, index := c.Column(ordinal).{{.Name}}Value(i), int(c.Column(ordinal).GetTimeIndex(i))
		if c.TimeByIndex(index) < c.TimeByIndex(firstIndex) ||
		    (c.TimeByIndex(index) == c.TimeByIndex(firstIndex) && v > firstValue) {
			firstIndex = index
			firstValue = v
		}
	}
	return firstIndex, firstValue, false
}

func {{.Name}}FirstMerge(prevPoint, currPoint *{{.Name}}Point) {
    {{- if ne .Name "String"}}
	if prevPoint.isNil || (currPoint.time < prevPoint.time) || 
	    (currPoint.time == prevPoint.time && currPoint.value > prevPoint.value) {
    {{- else}}
    if prevPoint.isNil || (currPoint.time < prevPoint.time) || 
        (currPoint.time == prevPoint.time && bytes.Compare(currPoint.value, prevPoint.value) > 0) {
    {{- end}}
		prevPoint.Assign(currPoint)
	}
}
{{- end}}
{{end}}

func BooleanFirstReduce(c Chunk, ordinal, start, end int) (int, bool, bool) {
	if c.Column(ordinal).NilCount() == 0 {
        // fast path
		firstValue, firstIndex := c.Column(ordinal).BooleanValue(start), start
		for i := start; i < end; i++ {
			v := c.Column(ordinal).BooleanValue(i)
			if c.TimeByIndex(i) < c.TimeByIndex(firstIndex) || 
			    (c.TimeByIndex(i) == c.TimeByIndex(firstIndex) && !v && firstValue) {
				firstIndex = i
				firstValue = v
			}
		}
		return firstIndex, firstValue, false
	}

	// slow path
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return start, false, true
	}
	firstValue, firstIndex := c.Column(ordinal).BooleanValue(vs), int(c.Column(ordinal).GetTimeIndex(vs))
	for i := vs; i < ve; i++ {
		v, index := c.Column(ordinal).BooleanValue(i), int(c.Column(ordinal).GetTimeIndex(i))
		if c.TimeByIndex(index) < c.TimeByIndex(firstIndex) || 
		    (c.TimeByIndex(index) == c.TimeByIndex(firstIndex) && !v && firstValue) {
			firstIndex = index
			firstValue = v
		}
	}
	return firstIndex, firstValue, false
}

func BooleanFirstMerge(prevPoint, currPoint *BooleanPoint) {
	if prevPoint.isNil || (currPoint.time < prevPoint.time) || 
	    (currPoint.time == prevPoint.time && !currPoint.value && prevPoint.value) {
		prevPoint.Assign(currPoint)
	}
}

{{range .}}
{{- if ne .Name "Boolean"}}
func {{.Name}}LastReduce(c Chunk, ordinal, start, end int) (int, {{.Type}}, bool) {
	if c.Column(ordinal).NilCount() == 0 {
        // fast path
		lastValue, lastIndex := c.Column(ordinal).{{.Name}}Value(start), start
		for i := start; i < end; i++ {
			v := c.Column(ordinal).{{.Name}}Value(i)
			if c.TimeByIndex(i) > c.TimeByIndex(lastIndex) || 
			    (c.TimeByIndex(i) == c.TimeByIndex(lastIndex) && v > lastValue) {
				lastIndex = i
				lastValue = v
			}
		}
		return lastIndex, lastValue, false
	}

	// slow path
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return start, {{.Nil}}, true
	}
	lastValue, lastIndex := c.Column(ordinal).{{.Name}}Value(vs), c.Column(ordinal).GetTimeIndex(vs)
	for i := vs; i < ve; i++ {
		v, index := c.Column(ordinal).{{.Name}}Value(i), c.Column(ordinal).GetTimeIndex(i)
		if c.TimeByIndex(index) > c.TimeByIndex(lastIndex) || 
		    (c.TimeByIndex(index) == c.TimeByIndex(lastIndex) && v > lastValue) {
			lastIndex = index
			lastValue = v
		}
	}
	return lastIndex, lastValue, false
}

func {{.Name}}LastMerge(prevPoint, currPoint *{{.Name}}Point) {
    {{- if ne .Name "String"}}
	if prevPoint.isNil || (currPoint.time > prevPoint.time) || 
	    (currPoint.time == prevPoint.time && currPoint.value > prevPoint.value) {
    {{- else}}
    if prevPoint.isNil || (currPoint.time > prevPoint.time) || 
        (currPoint.time == prevPoint.time && bytes.Compare(currPoint.value, prevPoint.value) > 0) {
    {{- end}}
		prevPoint.Assign(currPoint)
	}
}
{{- end}}
{{end}}

func BooleanLastReduce(c Chunk, ordinal, start, end int) (int, bool, bool) {
	if c.Column(ordinal).NilCount() == 0 {
        // fast path
		lastValue, lastIndex := c.Column(ordinal).BooleanValue(start), start
		for i := start; i < end; i++ {
			v := c.Column(ordinal).BooleanValue(i)
			if c.TimeByIndex(i) > c.TimeByIndex(lastIndex) || 
			    (c.TimeByIndex(i) == c.TimeByIndex(lastIndex) && v && !lastValue) {
				lastIndex = i
				lastValue = v
			}
		}
		return lastIndex, lastValue, false
	}

	// slow path
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return start, false, true
	}
	lastValue, lastIndex := c.Column(ordinal).BooleanValue(vs), c.Column(ordinal).GetTimeIndex(vs)
	for i := vs; i < ve; i++ {
		v, index := c.Column(ordinal).BooleanValue(i), c.Column(ordinal).GetTimeIndex(i)
		if c.TimeByIndex(index) > c.TimeByIndex(lastIndex) || 
		    (c.TimeByIndex(index) == c.TimeByIndex(lastIndex) && v && !lastValue) {
			lastIndex = index
			lastValue = v
		}
	}
	return lastIndex, lastValue, false
}

func BooleanLastMerge(prevPoint, currPoint *BooleanPoint) {
	if prevPoint.isNil || (currPoint.time > prevPoint.time) || 
	    (currPoint.time == prevPoint.time && currPoint.value && !prevPoint.value) {
		prevPoint.Assign(currPoint)
	}
}

{{range .}}
{{- if ne .Name "Boolean"}}
func {{.Name}}FirstTimeColFastReduce(c Chunk, ordinal, start, end int) (int, {{.Type}}, bool) {
    // fast path
    firstValue, firstIndex := c.Column(ordinal).{{.Name}}Value(start), start
    // column time is not initialized in the subquery
    if len(c.Column(ordinal).ColumnTimes()) == 0 {
        for i := start; i < end; i++ {
            v := c.Column(ordinal).{{.Name}}Value(i)
            if c.TimeByIndex(i) < c.TimeByIndex(firstIndex) ||
                (c.TimeByIndex(i) == c.TimeByIndex(firstIndex) && v > firstValue) {
                firstIndex = i
                firstValue = v
            }
        }
        return firstIndex, firstValue, false
    }
    // column time is initialized
    for i := start; i < end; i++ {
        v := c.Column(ordinal).{{.Name}}Value(i)
        if c.Column(ordinal).ColumnTime(i) < c.Column(ordinal).ColumnTime(firstIndex) ||
            (c.Column(ordinal).ColumnTime(i) == c.Column(ordinal).ColumnTime(firstIndex) && v > firstValue) {
            firstIndex = i
            firstValue = v
        }
    }
    return firstIndex, firstValue, false
}

func {{.Name}}FirstTimeColSlowReduce(c Chunk, ordinal, start, end int) (int, {{.Type}}, bool) {
	// slow path
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return start, {{.Nil}}, true
	}
	// column time is not initialized in the subquery
	if len(c.Column(ordinal).ColumnTimes()) == 0 {
		firstValue, firstIndex := c.Column(ordinal).{{.Name}}Value(vs), c.Column(ordinal).GetTimeIndex(vs)
		for i := start; i < end; i++ {
			if c.Column(ordinal).IsNilV2(i) {
				continue
			}
			v := c.Column(ordinal).{{.Name}}Value(c.Column(ordinal).GetValueIndexV2(i))
			if c.TimeByIndex(i) < c.TimeByIndex(firstIndex) ||
				(c.TimeByIndex(i) == c.TimeByIndex(firstIndex) && v > firstValue) {
				firstIndex = i
				firstValue = v
			}
		}
		return firstIndex, firstValue, false
	}
	// column time is initialized
	firstValue, firstIndex := c.Column(ordinal).{{.Name}}Value(vs), vs
	for i := vs; i < ve; i++ {
		v := c.Column(ordinal).{{.Name}}Value(i)
		if c.Column(ordinal).ColumnTime(i) < c.Column(ordinal).ColumnTime(firstIndex) ||
			(c.Column(ordinal).ColumnTime(i) == c.Column(ordinal).ColumnTime(firstIndex) && v > firstValue) {
			firstIndex = i
			firstValue = v
		}
	}
	return firstIndex, firstValue, false
}

func {{.Name}}FirstTimeColReduce(c Chunk, ordinal, start, end int) (int, {{.Type}}, bool) {
	if c.Column(ordinal).NilCount() == 0 {
		return {{.Name}}FirstTimeColFastReduce(c, ordinal, start, end)
	}
	return {{.Name}}FirstTimeColSlowReduce(c, ordinal, start, end)
}

func {{.Name}}FirstTimeColMerge(prevPoint, currPoint *{{.Name}}Point) {
    {{- if ne .Name "String"}}
	if prevPoint.isNil || (currPoint.time < prevPoint.time) ||
	    (currPoint.time == prevPoint.time && currPoint.value > prevPoint.value) {
    {{- else}}
    if prevPoint.isNil || (currPoint.time < prevPoint.time) ||
        (currPoint.time == prevPoint.time && bytes.Compare(currPoint.value, prevPoint.value) > 0) {
    {{- end}}
		prevPoint.Assign(currPoint)
	}
}
{{- end}}
{{end}}

func BooleanFirstTimeColFastReduce(c Chunk, ordinal, start, end int) (int, bool, bool) {
    // fast path
    firstValue, firstIndex := c.Column(ordinal).BooleanValue(start), start
    // column time is not initialized in the subquery
    if len(c.Column(ordinal).ColumnTimes()) == 0 {
        for i := start; i < end; i++ {
            v := c.Column(ordinal).BooleanValue(i)
            if c.TimeByIndex(i) < c.TimeByIndex(firstIndex) ||
                (c.TimeByIndex(i) == c.TimeByIndex(firstIndex) && !v && firstValue) {
                firstIndex = i
                firstValue = v
            }
        }
        return firstIndex, firstValue, false
    }
    for i := start; i < end; i++ {
        v := c.Column(ordinal).BooleanValue(i)
        if c.Column(ordinal).ColumnTime(i) < c.Column(ordinal).ColumnTime(firstIndex) ||
            (c.Column(ordinal).ColumnTime(i) == c.Column(ordinal).ColumnTime(firstIndex) && !v && firstValue) {
            firstIndex = i
            firstValue = v
        }
    }
    return firstIndex, firstValue, false
}

func BooleanFirstTimeColSlowReduce(c Chunk, ordinal, start, end int) (int, bool, bool) {
	// slow path
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return start, false, true
	}
	// column time is not initialized in the subquery
	if len(c.Column(ordinal).ColumnTimes()) == 0 {
		firstValue, firstIndex := c.Column(ordinal).BooleanValue(vs),  c.Column(ordinal).GetTimeIndex(vs)
		for i := start; i < end; i++ {
			if c.Column(ordinal).IsNilV2(i) {
				continue
			}
			v := c.Column(ordinal).BooleanValue(c.Column(ordinal).GetValueIndexV2(i))
			if c.TimeByIndex(i) < c.TimeByIndex(firstIndex) ||
				(c.TimeByIndex(i) == c.TimeByIndex(firstIndex) && !v && firstValue) {
				firstIndex = i
				firstValue = v
			}
		}
		return firstIndex, firstValue, false
	}
	// column time is initialized
	firstValue, firstIndex := c.Column(ordinal).BooleanValue(vs), vs
	for i := vs; i < ve; i++ {
		v := c.Column(ordinal).BooleanValue(i)
		if c.Column(ordinal).ColumnTime(i) < c.Column(ordinal).ColumnTime(firstIndex) ||
			(c.Column(ordinal).ColumnTime(i) == c.Column(ordinal).ColumnTime(firstIndex) && !v && firstValue) {
			firstIndex = i
			firstValue = v
		}
	}
	return firstIndex, firstValue, false
}

func BooleanFirstTimeColReduce(c Chunk, ordinal, start, end int) (int, bool, bool) {
	if c.Column(ordinal).NilCount() == 0 {
	    return BooleanFirstTimeColFastReduce(c, ordinal, start, end)
	}
	return BooleanFirstTimeColSlowReduce(c, ordinal, start, end)
}

func BooleanFirstTimeColMerge(prevPoint, currPoint *BooleanPoint) {
	if prevPoint.isNil || (currPoint.time < prevPoint.time) ||
	(currPoint.time == prevPoint.time && !currPoint.value && prevPoint.value) {
		prevPoint.Assign(currPoint)
	}
}

{{range .}}
{{- if ne .Name "Boolean"}}
func {{.Name}}LastTimeColFastReduce(c Chunk, ordinal, start, end int) (int, {{.Type}}, bool) {
    // fast path
    lastValue, lastIndex := c.Column(ordinal).{{.Name}}Value(start), start
    // column time is not initialized in the subquery
    if len(c.Column(ordinal).ColumnTimes()) == 0 {
        for i := start; i < end; i++ {
            v := c.Column(ordinal).{{.Name}}Value(i)
            if c.TimeByIndex(i) > c.TimeByIndex(lastIndex) ||
                (c.TimeByIndex(i) == c.TimeByIndex(lastIndex) && v > lastValue) {
                lastIndex = i
                lastValue = v
            }
        }
        return lastIndex, lastValue, false
    }
    // column time is initialized
    for i := start; i < end; i++ {
        v := c.Column(ordinal).{{.Name}}Value(i)
        if c.Column(ordinal).ColumnTime(i) > c.Column(ordinal).ColumnTime(lastIndex) ||
            (c.Column(ordinal).ColumnTime(i) == c.Column(ordinal).ColumnTime(lastIndex) && v > lastValue) {
            lastIndex = i
            lastValue = v
        }
    }
    return lastIndex, lastValue, false
}

func {{.Name}}LastTimeColSlowReduce(c Chunk, ordinal, start, end int) (int, {{.Type}}, bool) {
	// slow path
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return start, {{.Nil}}, true
	}
	// column time is not initialized in the subquery
	if len(c.Column(ordinal).ColumnTimes()) == 0 {
		lastValue, lastIndex := c.Column(ordinal).{{.Name}}Value(vs), c.Column(ordinal).GetTimeIndex(vs)
		for i := start; i < end; i++ {
			if c.Column(ordinal).IsNilV2(i) {
				continue
			}
			v := c.Column(ordinal).{{.Name}}Value(c.Column(ordinal).GetValueIndexV2(i))
			if c.TimeByIndex(i) > c.TimeByIndex(lastIndex) ||
				(c.TimeByIndex(i) == c.TimeByIndex(lastIndex) && v > lastValue) {
				lastIndex = i
				lastValue = v
			}
		}
		return lastIndex, lastValue, false
	}
	// column time is initialized
	lastValue, lastIndex := c.Column(ordinal).{{.Name}}Value(vs), vs
	for i := vs; i < ve; i++ {
		v := c.Column(ordinal).{{.Name}}Value(i)
		if c.Column(ordinal).ColumnTime(i) > c.Column(ordinal).ColumnTime(lastIndex) ||
			(c.Column(ordinal).ColumnTime(i) == c.Column(ordinal).ColumnTime(lastIndex) && v > lastValue) {
			lastIndex = i
			lastValue = v
		}
	}
	return lastIndex, lastValue, false
}

func {{.Name}}LastTimeColReduce(c Chunk, ordinal, start, end int) (int, {{.Type}}, bool) {
	if c.Column(ordinal).NilCount() == 0 {
	    return {{.Name}}LastTimeColFastReduce(c, ordinal, start, end)
	}
	return {{.Name}}LastTimeColSlowReduce(c, ordinal, start, end)
}

func {{.Name}}LastTimeColMerge(prevPoint, currPoint *{{.Name}}Point) {
    {{- if ne .Name "String"}}
	if prevPoint.isNil || (currPoint.time > prevPoint.time) ||
	    (currPoint.time == prevPoint.time && currPoint.value > prevPoint.value) {
    {{- else}}
    if prevPoint.isNil || (currPoint.time > prevPoint.time) ||
        (currPoint.time == prevPoint.time && bytes.Compare(currPoint.value, prevPoint.value) > 0) {
    {{- end}}
		prevPoint.Assign(currPoint)
	}
}
{{- end}}
{{end}}

func BooleanLastTimeColFastReduce(c Chunk, ordinal, start, end int) (int, bool, bool) {
    // fast path
    lastValue, lastIndex := c.Column(ordinal).BooleanValue(start), start
    // column time is not initialized in the subquery
    if len(c.Column(ordinal).ColumnTimes()) == 0 {
        for i := start; i < end; i++ {
            v := c.Column(ordinal).BooleanValue(i)
            if c.TimeByIndex(i) > c.TimeByIndex(lastIndex) ||
                (c.TimeByIndex(i) == c.TimeByIndex(lastIndex) && v && !lastValue) {
                lastIndex = i
                lastValue = v
            }
        }
        return lastIndex, lastValue, false
    }
    // column time is initialized
    for i := start; i < end; i++ {
        v := c.Column(ordinal).BooleanValue(i)
        if c.Column(ordinal).ColumnTime(i) > c.Column(ordinal).ColumnTime(lastIndex) ||
            (c.Column(ordinal).ColumnTime(i) == c.Column(ordinal).ColumnTime(lastIndex) && v && !lastValue) {
            lastIndex = i
            lastValue = v
        }
    }
    return lastIndex, lastValue, false
}

func BooleanLastTimeColSlowReduce(c Chunk, ordinal, start, end int) (int, bool, bool) {
	// slow path
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return start, false, true
	}
	// column time is not initialized in the subquery
	if len(c.Column(ordinal).ColumnTimes()) == 0 {
		lastValue, lastIndex := c.Column(ordinal).BooleanValue(vs), c.Column(ordinal).GetTimeIndex(vs)
		for i := start; i < end; i++ {
			if c.Column(ordinal).IsNilV2(i) {
				continue
			}
			v := c.Column(ordinal).BooleanValue(c.Column(ordinal).GetValueIndexV2(i))
			if c.TimeByIndex(i) > c.TimeByIndex(lastIndex) ||
				(c.TimeByIndex(i) == c.TimeByIndex(lastIndex) && v && !lastValue) {
				lastIndex = i
				lastValue = v
			}
		}
		return lastIndex, lastValue, false
	}
	// column time is initialized
	lastValue, lastIndex := c.Column(ordinal).BooleanValue(vs), vs
	for i := vs; i < ve; i++ {
		v := c.Column(ordinal).BooleanValue(i)
		if c.Column(ordinal).ColumnTime(i) > c.Column(ordinal).ColumnTime(lastIndex) ||
			(c.Column(ordinal).ColumnTime(i) == c.Column(ordinal).ColumnTime(lastIndex) && v && !lastValue) {
			lastIndex = i
			lastValue = v
		}
	}
	return lastIndex, lastValue, false
}

func BooleanLastTimeColReduce(c Chunk, ordinal, start, end int) (int, bool, bool) {
	if c.Column(ordinal).NilCount() == 0 {
	    return BooleanLastTimeColFastReduce(c, ordinal, start, end)
	}
	return BooleanLastTimeColSlowReduce(c, ordinal, start, end)
}

func BooleanLastTimeColMerge(prevPoint, currPoint *BooleanPoint) {
	if prevPoint.isNil || (currPoint.time > prevPoint.time) ||
	    (currPoint.time == prevPoint.time && currPoint.value && !prevPoint.value) {
		prevPoint.Assign(currPoint)
	}
}

{{range .}}
{{- if and (ne .Name "String") (ne .Name "Boolean")}}
func New{{.Name}}PercentileReduce(percentile float64) {{.Name}}ColReduceSliceReduce {
	return func({{.name}}SliceItem *{{.Name}}SliceItem) (int, int64, float64, bool) {
		length := len({{.name}}SliceItem.value)
		if length == 0 {
			return 0, int64(0), float64(0), true
		}

		sort.Sort({{.name}}SliceItem)

		i := int(math.Floor(float64(length)*percentile/100.0+0.5)) - 1
		if i < 0 {
			i = 0
		} else if i >= length {
			i = length - 1
		}
		return i, int64(0), float64(0), false
	}
}

{{- end}}
{{end}}

func NewFloatStddevReduce() FloatColReduceSliceReduce {
	return func(floatSliceItem *FloatSliceItem) (int, int64, float64, bool) {
		length := len(floatSliceItem.value)
		if length == 1 {
			return -1, int64(0), float64(0), false
		} else if length == 0 {
			return -1, int64(0), float64(0), true
		} else {
			sum := float64(0)
			sum2 := float64(0)
			count := float64(length)
			stddev := float64(0)
			for _, v := range floatSliceItem.value {
				sum += v
				sum2 += v*v
			}
			stddev = math.Sqrt((sum2/count - math.Pow(sum/count, 2)) * count / (count - 1))
			return -1, int64(0), stddev, false
		}
	}
}

func NewIntegerStddevReduce() IntegerColReduceSliceReduce {
	return func(integerSliceItem *IntegerSliceItem) (int, int64, float64, bool) {
		length := len(integerSliceItem.value)
		if length == 1 {
			return -1, int64(0), float64(0), false
		} else if length == 0 {
			return -1, int64(0), float64(0), true
		} else {
			sum := int64(0)
			sum2 := int64(0)
			count := float64(length)
			stddev := float64(0)
			for _, v := range integerSliceItem.value {
				sum += v
				sum2 += v*v
			}
			stddev = math.Sqrt((float64(sum2)/count - math.Pow(float64(sum)/count, 2)) * count / (count - 1))
			return -1, int64(0), stddev, false
		}
	}
}

{{range .}}
{{- if and (ne .Name "String") (ne .Name "Boolean")}}
func {{.Name}}RateFastReduce(c Chunk, ordinal, start, end int) (int, int, {{.Type}}, {{.Type}}, bool) {
	if end-start == 0 {
		return 0, 0, 0, 0, true
	}
	firstValue, firstIndex := c.Column(ordinal).{{.Name}}Value(start), start
	lastValue, lastIndex := firstValue, firstIndex
	for i := start; i < end; i++ {
		v := c.Column(ordinal).{{.Name}}Value(i)
		if c.TimeByIndex(i) < c.TimeByIndex(firstIndex) ||
			(c.TimeByIndex(i) == c.TimeByIndex(firstIndex) && v > firstValue) {
			firstIndex = i
			firstValue = v
		}
		if c.TimeByIndex(i) > c.TimeByIndex(lastIndex) ||
			(c.TimeByIndex(i) == c.TimeByIndex(lastIndex) && v > lastValue) {
			lastIndex = i
			lastValue = v
		}
	}
	return firstIndex, lastIndex, firstValue, lastValue, false
}

func {{.Name}}RateLowReduce(c Chunk, ordinal, start, end int) (int, int, {{.Type}}, {{.Type}}, bool) {
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return 0, 0, 0, 0, true
	}
	firstValue, firstIndex := c.Column(ordinal).{{.Name}}Value(vs), c.Column(ordinal).GetTimeIndex(vs)
	lastValue, lastIndex := firstValue, firstIndex
	for i := vs; i < ve; i++ {
		v, index := c.Column(ordinal).{{.Name}}Value(i), c.Column(ordinal).GetTimeIndex(i)
		if c.TimeByIndex(index) < c.TimeByIndex(firstIndex) ||
			(c.TimeByIndex(index) == c.TimeByIndex(firstIndex) && v > firstValue) {
			firstIndex = index
			firstValue = v
		}
		if c.TimeByIndex(index) > c.TimeByIndex(lastIndex) ||
			(c.TimeByIndex(index) == c.TimeByIndex(lastIndex) && v > lastValue) {
			lastIndex = index
			lastValue = v
		}
	}
	return firstIndex, lastIndex, firstValue, lastValue, false
}

func {{.Name}}RateMiddleReduce(c Chunk, ordinal, start, end int) (int, int, {{.Type}}, {{.Type}}, bool) {
	if c.Column(ordinal).NilCount() == 0 {
		// fast path
		return {{.Name}}RateFastReduce(c, ordinal, start, end)
	}

	// slow path
	return {{.Name}}RateLowReduce(c, ordinal, start, end)
}

func {{.Name}}RateFinalReduce(firstTime int64, lastTime int64, firstValue {{.Type}}, lastValue {{.Type}},
	interval *hybridqp.Interval) (float64, bool) {
    if lastTime == firstTime || interval.Duration == 0 {
        return 0, true
    }
	rate := float64(lastValue-firstValue) / (float64(lastTime-firstTime) / float64(interval.Duration))
	return rate, false
}

func {{.Name}}RateUpdate(prevPoints, currPoints [2]*{{.Name}}Point) {
	for i := range currPoints {
		if currPoints[i].isNil {
			continue
		}
		if currPoints[i].time < prevPoints[0].time ||
			(currPoints[i].time == prevPoints[0].time && currPoints[i].value > prevPoints[0].value) {
			prevPoints[0].time = currPoints[i].time
			prevPoints[0].value = currPoints[i].value
		}
		if currPoints[i].time > prevPoints[1].time ||
			(currPoints[i].time == prevPoints[1].time && currPoints[i].value > prevPoints[1].value) {
			prevPoints[1].time = currPoints[i].time
			prevPoints[1].value = currPoints[i].value
		}
	}
}

func {{.Name}}RateMerge(prevPoints [2]*{{.Name}}Point, interval *hybridqp.Interval) (float64, bool) {
	return {{.Name}}RateFinalReduce(prevPoints[0].time, prevPoints[1].time,
        prevPoints[0].value, prevPoints[1].value, interval)
}
{{- end}}
{{end}}

{{range .}}
{{- if and (ne .Name "String") (ne .Name "Boolean")}}
func {{.Name}}IrateFastReduce(c Chunk, ordinal, start, end int) (int, int, {{.Type}}, {{.Type}}, bool) {
	if end-start == 0 {
		return 0, 0, 0, 0, true
	}
	if end-start == 1 {
		col := c.Column(ordinal)
		v := col.{{.Name}}Value(start)
		return start, start, v, v, false
	}
	var (
		fi, si int
		fv, sv {{.Type}}
	)
	if c.TimeByIndex(start) < c.TimeByIndex(start+1) || (c.TimeByIndex(start) == c.TimeByIndex(start+1) && fv > sv) {
		fi, si, fv, sv = start, start+1, c.Column(ordinal).{{.Name}}Value(start), c.Column(ordinal).{{.Name}}Value(start+1)
	} else {
		fi, si, fv, sv = start+1, start, c.Column(ordinal).{{.Name}}Value(start+1), c.Column(ordinal).{{.Name}}Value(start)
	}
	if end-start == 2 {
		return fi, si, fv, sv, false
	}
	for i := start + 2; i < end; i++ {
		v := c.Column(ordinal).{{.Name}}Value(i)
		if c.TimeByIndex(i) < c.TimeByIndex(fi) ||
			(c.TimeByIndex(i) == c.TimeByIndex(fi) && v < fv) {
			continue
		}
		if c.TimeByIndex(i) > c.TimeByIndex(fi) ||
			(c.TimeByIndex(i) == c.TimeByIndex(fi) && v > fv) {
			if c.TimeByIndex(i) > c.TimeByIndex(si) ||
				(c.TimeByIndex(i) == c.TimeByIndex(si) && v > sv) {
				fi, fv = si, sv
				si, sv = i, v
			} else {
				fi, fv = i, v
			}
		}
	}
	return fi, si, fv, sv, false
}

func {{.Name}}IrateSlowReduce(c Chunk, ordinal, start, end int) (int, int, {{.Type}}, {{.Type}}, bool) {
	vs, ve := c.Column(ordinal).GetRangeValueIndexV2(start, end)
	if vs == ve {
		return 0, 0, 0, 0, true
	}
	if ve-vs == 1 {
		col := c.Column(ordinal)
		v := col.{{.Name}}Value(vs)
		return start, start, v, v, false
	}
	var (
		fi, si int
		fv, sv {{.Type}}
	)
	col := c.Column(ordinal)
	fv, sv = col.{{.Name}}Value(vs), col.{{.Name}}Value(vs+1)
	fi, si = col.GetTimeIndex(vs), col.GetTimeIndex(vs+1)
	if !(c.TimeByIndex(fi) < c.TimeByIndex(si) || (c.TimeByIndex(fi) == c.TimeByIndex(si) && fv > sv)) {
		fi, si, fv, sv = si, fi, sv, fv
	}
	if ve-vs == 2 {
		return fi, si, fv, sv, false
	}
	for i := vs + 2; i < ve; i++ {
		v, index := c.Column(ordinal).{{.Name}}Value(i), c.Column(ordinal).GetTimeIndex(i)
		if c.TimeByIndex(index) < c.TimeByIndex(fi) ||
			(c.TimeByIndex(index) == c.TimeByIndex(fi) && v > fv) {
			continue
		}
		if c.TimeByIndex(index) > c.TimeByIndex(fi) ||
			(c.TimeByIndex(index) == c.TimeByIndex(fi) && v > fv) {
			if c.TimeByIndex(index) > c.TimeByIndex(si) ||
				(c.TimeByIndex(index) == c.TimeByIndex(si) && v > sv) {
				fi, fv = si, sv
				si, sv = index, v
			} else {
				fi, fv = index, v
			}
		}
	}
	return fi, si, fv, sv, false
}

func {{.Name}}IrateMiddleReduce(c Chunk, ordinal, start, end int) (int, int, {{.Type}}, {{.Type}}, bool) {
	if c.Column(ordinal).NilCount() == 0 {
		// fast path
		return {{.Name}}IrateFastReduce(c, ordinal, start, end)
	}

	// slow path
	return {{.Name}}IrateSlowReduce(c, ordinal, start, end)
}

func {{.Name}}IrateFinalReduce(ft int64, st int64, fv {{.Type}}, sv {{.Type}},
	interval *hybridqp.Interval) (float64, bool) {
	if st == ft || interval.Duration == 0 {
		return 0, true
	}
	rate := float64(sv-fv) / (float64(st-ft) / float64(interval.Duration))
	return rate, false
}

func {{.Name}}IrateUpdate(prevPoints, currPoints [2]*{{.Name}}Point) {
	samePrevPoint := (!prevPoints[0].isNil && !prevPoints[1].isNil) &&
		(prevPoints[0].time == prevPoints[1].time && prevPoints[0].value == prevPoints[1].value)
	for i := range currPoints {
		if currPoints[i].isNil || currPoints[i].time < prevPoints[0].time ||
			(currPoints[i].time == prevPoints[0].time && currPoints[i].value < prevPoints[0].value) {
			if samePrevPoint {
				prevPoints[0].time, prevPoints[0].value = currPoints[i].time, currPoints[i].value
			}
			continue
		}
		if (i > 0 && !currPoints[i-1].isNil) &&
			(currPoints[i].time == currPoints[i-1].time && currPoints[i].value == currPoints[i-1].value) {
			continue
		}
		if currPoints[i].time > prevPoints[0].time ||
			(currPoints[i].time == prevPoints[0].time && currPoints[i].value > prevPoints[0].value) {
			if currPoints[i].time > prevPoints[1].time ||
				(currPoints[i].time == prevPoints[1].time && currPoints[i].value > prevPoints[1].value) {
				prevPoints[0].time, prevPoints[0].value = prevPoints[1].time, prevPoints[1].value
				prevPoints[1].time, prevPoints[1].value = currPoints[i].time, currPoints[i].value
			} else {
				prevPoints[0].time, prevPoints[0].value = currPoints[i].time, currPoints[i].value
			}
		}
	}
}

func {{.Name}}IrateMerge(prevPoints [2]*{{.Name}}Point, interval *hybridqp.Interval) (float64, bool) {
	return {{.Name}}RateFinalReduce(prevPoints[0].time, prevPoints[1].time,
        prevPoints[0].value, prevPoints[1].value, interval)
}
{{- end}}
{{end}}

func IntegerAbsentMerge(prevPoint, currPoint *IntegerPoint) {
	if prevPoint.isNil && currPoint.isNil {
		prevPoint.isNil = true
		prevPoint.value = 0
		return
	}
	prevPoint.isNil = false
	prevPoint.value = 1
}

{{range .}}
{{- if and (ne .Name "String")}}
func {{.Name}}SlidingWindowMergeFunc(prevWindow, currWindow *{{.Name}}SlidingWindow, fpm {{.Name}}PointMerge) {
	for i := 0; i < prevWindow.Len(); i++ {
		fpm(prevWindow.points[i], currWindow.points[i])
	}
}
{{- end}}
{{end}}



