// Copyright 2022 Huawei Cloud Computing Technologies Co., Ltd.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

package executor

import (
	"github.com/openGemini/openGemini/lib/util"
	"github.com/openGemini/openGemini/lib/util/lifted/influx/influxql"
	"github.com/openGemini/openGemini/lib/bufferpool"
)

var (
	_ Column = &ColumnImpl{}
)

type Column interface {
	DataType() influxql.DataType
	Length() int
	NilCount() int
	IsEmpty() bool

	ColumnTime(int) int64
	ColumnTimes() []int64
	AppendColumnTime(int64)
	AppendColumnTimes([]int64)
	SetColumnTimes([]int64)

	IsNilV2(int) bool
	NilsV2() *Bitmap
	SetNilsBitmap(new *Bitmap)
	AppendNil()
	AppendNotNil()
	AppendNilsV2(dat ...bool)
	AppendManyNotNil(num int)
	AppendManyNil(num int)
	GetValueIndexV2(start int) int
	GetRangeValueIndexV2(bmStart, bmEnd int) (s int, e int)
	StringValuesRangeV2(dst []string, start, end int) []string
	GetTimeIndex(valIdx int) int
	Reset()
	FilterColumnByRowIndexes(indexes ...int) Column

	FloatTuple(int) floatTuple
	FloatTuples() []floatTuple
	GetFloatTupleValues(int) []float64
	AppendFloatTuple(floatTuple)
	AppendFloatTuples([]floatTuple)
	SetFloatTuples([]floatTuple)


	{{range .}}
    {{.Name}}Value(int) {{.Type}}
    {{- if ne .Name "String" }}
		{{.Name}}Values() []{{.Type}}
		Append{{.Name}}Value({{.Type}})
		Append{{.Name}}Values([]{{.Type}})
		Set{{.Name}}Values([]{{.Type}})
        {{- if or (eq .Name "Float") (eq .Name "Integer") (eq .Name "Boolean")}}
        Update{{.Name}}ValueFast(v {{.Type}}, row int)
        {{- end}}
    {{- else }}
		StringValuesV2(dst []string) []string
		StringValuesRange(dst []string, start, end int) []string
		StringValuesWithOffset(start, end int, offsets []uint32) ([]byte, []uint32)
		AppendStringValue(string)
		AppendStringValues([]string)
		AppendStringBytes([]byte, []uint32)
		SetStringValues([]byte, []uint32)
		GetStringBytes() ([]byte, []uint32)
		CloneStringValues([]byte, []uint32)
		GetStringValueBytes(valueBits []byte, value []string, start, end int) ([]byte, []string)
    {{- end}}

    {{end}}

	//TODO:CheckColumn used to check the chunk's structure
	// Remember to remove it!
	CheckColumn(int)

	Marshal([]byte) ([]byte, error)
	Unmarshal([]byte) error
	Size() int
	BitMap() *Bitmap
}

type floatTuple struct {
	values []float64
}

func NewfloatTuple(tuple []float64) *floatTuple {
	a := new(floatTuple)
	a.values = tuple
	return a
}

type ColumnImpl struct {
	dataType      influxql.DataType
	floatValues   []float64
	floatTuples   []floatTuple
	integerValues []int64
	stringBytes   []byte
	offset        []uint32
	booleanValues []bool
	times         []int64
	nilsV2        *Bitmap
}

func NewColumnImpl(dataType influxql.DataType) *ColumnImpl {
	return &ColumnImpl{
		dataType: dataType,
		nilsV2:   NewBitmap(),
	}
}

func (c *ColumnImpl) DataType() influxql.DataType {
	return c.dataType
}

func (c *ColumnImpl) Length() int {
	return c.nilsV2.length
}
func (c *ColumnImpl) NilCount() int {
	return c.nilsV2.nilCount
}
func (c *ColumnImpl) IsEmpty() bool {
	return c.NilCount() == c.Length()
}

func (c *ColumnImpl) ColumnTime(idx int) int64 {
	return c.times[idx]
}

func (c *ColumnImpl) ColumnTimes() []int64 {
	return c.times
}

func (c *ColumnImpl) AppendColumnTime(value int64) {
	c.times = append(c.times, value)
}

func (c *ColumnImpl) AppendColumnTimes(values []int64) {
	c.times = append(c.times, values...)
}

func (c *ColumnImpl) SetColumnTimes(values []int64) {
	c.times = values
}

func (c *ColumnImpl) IsNilV2(idx int) bool {
	return !c.nilsV2.containsInt(idx)
}

func (c *ColumnImpl) NilsV2() *Bitmap {
	return c.nilsV2
}

// SetNilsBitmap just for test use now.
func (c *ColumnImpl) SetNilsBitmap(new *Bitmap) {
	c.nilsV2= new
}

func (c *ColumnImpl) AppendNotNil() {
	c.nilsV2.append(true)
}

func (c *ColumnImpl) AppendNil() {
	c.nilsV2.append(false)
}
func (c *ColumnImpl) AppendNilsV2(dat ...bool) {
	if len(dat) == 1 {
		c.nilsV2.append(dat[0])
		return
	}
	c.nilsV2.appendManyV2(dat)
}

func (c *ColumnImpl) GetValueIndexV2(start int) int {
	rankS := c.nilsV2.rank(start)
	return rankS
}

func (c *ColumnImpl) GetRangeValueIndexV2(bmStart, bmEnd int) (int, int) {
	rankS := c.nilsV2.rank(bmStart)
	rankE := c.nilsV2.rank(bmEnd)
	return rankS, rankE
}

func (c *ColumnImpl) StringValuesRangeV2(dst []string, start, end int) []string {
	offs := c.offset
	for i := start; i < end; i++ {
		off := offs[i]
		if i == len(offs)-1 {
			dst = append(dst, util.Bytes2str(c.stringBytes[off:]))
		} else {
			dst = append(dst, util.Bytes2str(c.stringBytes[off:offs[i+1]]))
		}
	}
	return dst
}

func (c *ColumnImpl) AppendManyNotNil(num int) {
	c.nilsV2.appendManyV2NotNil(num)
}

func (c *ColumnImpl) AppendManyNil(num int) {
	if c.NilCount() == 0 && c.Length() == 0 {
		n := num >> 3
		if num%8 != 0 {
			n += 1
		}
		c.nilsV2.bits = append(c.nilsV2.bits, make([]byte, n)...)
		c.nilsV2.length += num
		c.nilsV2.nilCount += num
		return
	}
	c.nilsV2.appendManyV2Nil(num)
}

func (c *ColumnImpl) GetTimeIndex(valIdx int) int {
	return int(c.nilsV2.array[valIdx])
}


func (c *ColumnImpl) Reset() {
	c.floatValues = c.floatValues[:0]
	c.floatTuples = c.floatTuples[:0]
	c.integerValues = c.integerValues[:0]
	c.stringBytes = c.stringBytes[:0]
	c.offset = c.offset[:0]
	c.booleanValues = c.booleanValues[:0]
	c.times = c.times[:0]
	c.nilsV2.Clear()
}

// Convention: The indexes parameter is a list of valid row IDs in ascending order
func (c *ColumnImpl) FilterColumnByRowIndexes(indexes ...int) Column {
	newColumn := NewColumnImpl(c.DataType())

    handleData := func(getValue func(int) interface{}, appendValue func(interface{})) {
        if c.NilCount() > 0 {
            for _, idx := range indexes {
                if c.IsNilV2(idx) {
                    newColumn.AppendNil()
                    continue
                }
                r := c.GetValueIndexV2(idx)
                val := getValue(r)
                appendValue(val)
                newColumn.AppendNotNil()
            }
            return
        }

        for _, idx := range indexes {
            val := getValue(idx)
            appendValue(val)
            newColumn.AppendNotNil()
        }
    }

	switch c.DataType() {
    case influxql.String, influxql.Tag:
        values := c.StringValuesV2(nil)
        handleData(func(r int) interface{} { return values[r] }, func(v interface{}) { newColumn.AppendStringValue(v.(string)) })
    case influxql.Integer:
        values := c.IntegerValues()
        handleData(func(r int) interface{} { return values[r] }, func(v interface{}) { newColumn.AppendIntegerValue(v.(int64)) })
    case influxql.Float:
        values := c.FloatValues()
        handleData(func(r int) interface{} { return values[r] }, func(v interface{}) { newColumn.AppendFloatValue(v.(float64)) })
    case influxql.Boolean:
        values := c.BooleanValues()
        handleData(func(r int) interface{} { return values[r] }, func(v interface{}) { newColumn.AppendBooleanValue(v.(bool)) })
    case influxql.FloatTuple:
        values := c.FloatTuples()
        handleData(func(r int) interface{} { return values[r] }, func(v interface{}) { newColumn.AppendFloatTuple(v.(floatTuple)) })
    }

	return newColumn
}

func (c *ColumnImpl) FloatTuple(idx int) floatTuple {
	return c.floatTuples[idx]
}

func (c *ColumnImpl) FloatTuples() []floatTuple {
	return c.floatTuples
}

func (c *ColumnImpl) GetFloatTupleValues(idx int) []float64 {
	return c.floatTuples[idx].values
}

func (c *ColumnImpl) AppendFloatTuple(tuple floatTuple) {
	c.floatTuples = append(c.floatTuples, tuple)
}

func (c *ColumnImpl) AppendFloatTuples(tuples []floatTuple) {
	c.floatTuples = append(c.floatTuples, tuples...)
}

func (c *ColumnImpl) SetFloatTuples(tuples []floatTuple) {
	c.floatTuples = tuples
}

{{range .}}
{{- if ne .Name "String" }}

func (c *ColumnImpl) {{.Name}}Value(idx int) {{.Type}} {
	return c.{{.name}}Values[idx]
}

func (c *ColumnImpl) {{.Name}}Values() []{{.Type}} {
	return c.{{.name}}Values
}

func (c *ColumnImpl) Append{{.Name}}Value(value {{.Type}}) {
	c.{{.name}}Values = append(c.{{.name}}Values, value)
}

func (c *ColumnImpl) Append{{.Name}}Values(values []{{.Type}}) {
	c.{{.name}}Values = append(c.{{.name}}Values, values...)
}

func (c *ColumnImpl) Set{{.Name}}Values(values []{{.Type}}) {
	c.{{.name}}Values = values
}

{{- if or (eq .Name "Float") (eq .Name "Integer") (eq .Name "Boolean")}}

func (c *ColumnImpl) Update{{.Name}}ValueFast(v {{.Type}}, row int) {
	c.{{.name}}Values[row] = v
}
{{- end}}

{{- else}}
// String type

func (c *ColumnImpl) StringValue(idx int) string {
	if idx == len(c.offset)-1 {
		off := c.offset[idx]
		return util.Bytes2str(c.stringBytes[off:])
	} else {
		start := c.offset[idx]
		end := c.offset[idx+1]
		return util.Bytes2str(c.stringBytes[start:end])
	}
}

// StringValuesV2 just use for test.
func (c *ColumnImpl) StringValuesV2(dst []string) []string {
	if len(c.offset) == 0 {
		return dst
	}

	offs := c.offset
	for i := 0; i < len(offs); i++ {
		off := offs[i]
		if i == len(offs)-1 {
			dst = append(dst, util.Bytes2str(c.stringBytes[off:]))
		} else {
			dst = append(dst, util.Bytes2str(c.stringBytes[off:offs[i+1]]))
		}
	}
	return dst
}

func (c *ColumnImpl) StringValuesRange(dst []string, start, end int) []string {
	rows := end - start
	if rows > cap(dst) {
		dst = make([]string, 0, rows)
	}
	offs := c.offset
	for i := start; i < end; i++ {
		off := offs[i]
		if i == len(offs)-1 {
			dst = append(dst, util.Bytes2str(c.stringBytes[off:]))
		} else {
			dst = append(dst, util.Bytes2str(c.stringBytes[off:offs[i+1]]))
		}
	}

	return dst
}

func (c *ColumnImpl) StringValuesWithOffset(start, end int, offsets []uint32) ([]byte, []uint32) {
	rows := end - start
    if rows == 0 {
        return nil, offsets
    }
	if rows > cap(offsets) {
		offsets = make([]uint32, 0, rows)
	}

	startOff, endOff := c.offset[start], uint32(0)
	for i := start; i < end; i++ {
		offsets = append(offsets, c.offset[i] - startOff)
	}

	if end == len(c.offset) {
		endOff = uint32(len(c.stringBytes))
	} else {
		endOff = c.offset[end]
	}

	return c.stringBytes[startOff:endOff], offsets
}

// Deprecated: please do not use. recommend to use AppendStringBytes
func (c *ColumnImpl) AppendStringValue(value string) {
    c.offset = append(c.offset, uint32(len(c.stringBytes)))
    c.stringBytes = append(c.stringBytes, value...)
}

// Deprecated: please do not use. recommend to use AppendStringBytes
func (c *ColumnImpl) AppendStringValues(values []string) {
	for i := range values {
		c.offset = append(c.offset, uint32(len(c.stringBytes)))
		c.stringBytes = append(c.stringBytes, values[i]...)
	}
}

func (c *ColumnImpl) AppendStringBytes(val []byte, offset []uint32) {
	sbLen := uint32(len(c.stringBytes))
	for _, off := range offset {
		c.offset = append(c.offset, off+sbLen)
	}
	c.stringBytes = append(c.stringBytes, val...)
}

func (c *ColumnImpl) SetStringValues(val []byte, offset []uint32) {
	c.stringBytes = val
	c.offset = offset
}

func (c *ColumnImpl) GetStringBytes() ([]byte, []uint32) {
	return c.stringBytes, c.offset
}

func (c *ColumnImpl) CloneStringValues(val []byte, offset []uint32) {
	c.stringBytes = make([]byte, len(val))
	c.offset = make([]uint32, len(offset))
	copy(c.stringBytes, val)
	copy(c.offset, offset)
}

func (c *ColumnImpl) GetStringValueBytes(valueBits []byte, value []string, start, end int) ([]byte, []string) {
    stringBytes, offset := c.GetStringBytes()
	if len(stringBytes) == 0 {
		return nil, nil
	}
	var os, oe int
    os = int(offset[start])
    if end < len(offset) {
        oe = int(offset[end])
    } else {
        oe = len(stringBytes)
    }
    vbl := len(valueBits)
    valueBits = bufferpool.Resize(valueBits, vbl+oe-os)
    for i := start; i < end; i++ {
        oriStr := c.StringValue(i)
        vs := vbl + int(offset[i]-offset[start])
        ve := vs + len(oriStr)
        newStr := valueBits[vs:ve]
        copy(newStr, oriStr)
        value = append(value, util.Bytes2str(newStr))
    }
    return valueBits, value
}

func (c *ColumnImpl) BitMap() *Bitmap {
	return c.nilsV2
}
{{- end}}

{{end}}

func (c *ColumnImpl) CheckColumn(length int) {
	switch c.dataType {
	case influxql.String, influxql.Tag:
		if len(c.integerValues) != 0 || len(c.floatValues) != 0 || len(c.booleanValues) != 0 {
			panic("Row in chunk check failed: it has wrong datatype, the row's dataType should be string!")
		}
		if c.NilCount()+len(c.offset) != length {
			panic("Row in chunk check failed: the number of the data(include nil data) doesn't fit chunk length!")
		}
	case influxql.Float:
		if len(c.integerValues) != 0 || len(c.stringBytes) != 0 || len(c.booleanValues) != 0 {
			panic("Row in chunk check failed: it has wrong datatype, the row's dataType should be float64!")
		}
		if c.NilCount()+len(c.floatValues) != length {
			panic("Row in chunk check failed: the number of the data(include nil data) doesn't fit chunk length!")
		}
	case influxql.Integer:
		if len(c.floatValues) != 0 || len(c.stringBytes) != 0 || len(c.booleanValues) != 0 {
			panic("Row in chunk check failed: it has wrong datatype, the row's dataType should be int64!")
		}
		if c.NilCount()+len(c.integerValues) != length {
			panic("Row in chunk check failed: the number of the data(include nil data) doesn't fit chunk length!")
		}
	case influxql.Boolean:
		if len(c.integerValues) != 0 || len(c.stringBytes) != 0 || len(c.floatValues) != 0 {
			panic("Row in chunk check failed: it has wrong datatype, the row's dataType should be boolean!")
		}
		if c.NilCount()+len(c.booleanValues) != length {
			panic("Row in chunk check failed: the number of the data(include nil data) doesn't fit chunk length!")
		}
	}
}
